<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notre version du steam shop</title>
</head>
<body>
    <a href="{% url 'index' %}">
    <h1 style="
    text-align: center; 
    font-family: 'Arial', sans-serif; 
    color: #66c0f4; 
    font-size: 48px; 
    margin-top: 50px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
">Steom purchase list</h1>
    </a>
    {% block content %}

    {% endblock %}
</body>
</html>