{% extends 'base.html' %} 

{% block content %}


<style>
    body {
        background-color: #171a21;
        color: #c7d5e0;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .products-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 20px;
    }

    .product-card {
        background-color: #2a475e;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: transform 0.2s, box-shadow 0.2s;
        width: 200px;
        text-align: center;
    }

    .product-card:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .product-card img {
        max-width: 100%;
        border-bottom: 1px solid #1b2838;
    }

    .product-card h2 {
        font-size: 16px;
        color: #c7d5e0;
        margin: 10px 0;
        padding: 0 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .product-card a {
        text-decoration: none;
        color: inherit;
    }

    .product-card a:hover h2 {
        color: #66c0f4;
    }
</style>

<div class="products-container">
    {% for product in products %}
        <div class="product-card">
            <a href="{% url 'product' product.slug %}">
                <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}
