{% extends 'base.html' %}

{% block content %}
<style>
    .gamesdisplay {
        display: flex;
        gap: 20px;
        background-color: #3b404f;
        width: 1200px;
        max-width: 80%;
        margin: 15px auto;
        padding: 5px;
        align-items: center;
        border-radius: 15px;
    }
    .gname {
        font-weight: bold;
        font-size: 25px;
        color: lightgrey;
        text-align: left;
    }
    .gprice {
        font-family: "Roboto Thin", sans-serif;
        font-size: 17px;
        background-color: forestgreen;
        padding: 10px 20px;
        border-radius: 10px;
        outline: 1px solid limegreen;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }
    .gprice:hover {
        background-color: #146035;
    }
    .gdesc {
        font-size: 15px;
        font-weight: lighter;
        color: lightgrey;
        font-style: italic;
    }
    .gimg {
        height: 160px;
        object-fit: cover;
    }
</style>

<div id="clones">
    {% for product in products %}
    <div class="gamesdisplay">
        <a href="{% url 'product' product.slug %}">
            <img class="gimg" src="{{ product.thumbnail.url }}" alt="{{ product.name }}">
        </a>
        <div style="flex-grow: 1;">
            <p class="gname">{{ product.name }}</p>
            <p class="gdesc">{{ product.description|truncatechars:100 }}</p>
        </div>
        <a href="{% url 'product' product.slug %}" class="gprice">{{ product.price }}€</a>
    </div>
    {% endfor %}
</div>
{% endblock %}